In [2]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
ser= pd.Series([8,3,6,5,1], index=["b","d","c","a","e",])
print(ser)

b    8
d    3
c    6
a    5
e    1
dtype: int64

In [4]:
# series indexing and slicing 

ser[1:3]

d    3
c    6
dtype: int64

In [6]:
# sorting series by indexing 

ser.sort_index()

a    5
b    8
c    6
d    3
e    1
dtype: int64

In [9]:
# sort series by values

ser.sort_values()

e    1
d    3
a    5
c    6
b    8
dtype: int64

In [10]:
# aggeregataing in series 

ser.mean()

4.6

In [11]:
ser.sum()

23

In [15]:
# create dataframe from series 

df_ser=pd.DataFrame(ser)
df_ser

   0
b  8
d  3
c  6
a  5
e  1

In [27]:
# dataframe manipulation

df=pd.read_csv('C:\\Users\\Administrator\\Downloads\\ny_weather-1.csv')
df

,Date,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,Event
0,1/1/2016,38.0,23.0,52.0,30.03,10.0,8.0,Rain
1,1/2/2016,36.0,18.0,46.0,30.02,10.0,7.0,Sunny
2,1/3/2016,NaN,NaN,47.0,29.86,10.0,8.0,Snow
3,1/6/2016,33.0,NaN,35.0,NaN,10.0,4.0,Rain
4,1/7/2016,39.0,11.0,33.0,30.28,10.0,2.0,Cloudy
5,1/8/2016,39.0,29.0,NaN,30.20,10.0,4.0,Sunny
6,1/9/2016,44.0,38.0,77.0,30.16,NaN,8.0,NaN
7,1/10/2016,NaN,46.0,NaN,NaN,4.0,NaN,Snow
8,1/11/2016,33.0,8.0,37.0,29.92,10.0,NaN,NaN
9,1/12/2016,35.0,NaN,53.0,29.85,10.0,6.0,NaN
10,1/13/2016,26.0,4.0,NaN,29.94,10.0,10.0,Rain
11,1/14/2016,NaN,12.0,47.0,NaN,NaN,NaN,Rain
12,1/17/2016,36.0,23.0,66.0,29.78,8.0,6.0,Snow
13,1/18/2016,25.0,6.0,53.0,29.83,9.0,NaN,Sunny